<% provide(:title, 'All users') %>


<table width=100% class="table table-striped">
  <thead>
    <tr>
      <th>ID</td>
      <th>Name</td>
      <th>Email</td>
      <th>Count</td>
      <th>Action</td>
    </tr>
  </thead>

  <tbody>
<% @user.each do |u| %>
    <tr>
      <td><%=link_to u.id, user_path(u)%></td>
      <td><%= u.name %></td>
      <td><%=u.email %></td>
      <td><%=u.adverts.count %></td>
      <td><%= link_to 'Edit', edit_user_path(u), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', user_path(u), :method => :delete,
                                               :confirm => "Really delete #{u.name} and all corresponding adverts?",
                                               :class => 'btn btn-mini btn-danger' %></td>
    </tr>
<% end %>
  </tbody>
</table>
