
<div class="row center">

<% if object.any? %>
<%= will_paginate object %>
<table width=100% class="table table-striped">
  <thead>
    <tr>
      <th>Title</td>
      <th>Author</td>
      <th>Price</td>
      <th>Date</td>
    </tr>
  </thead>

  <tbody>
<% object.each do |a| %>
    <tr>
      <td><%=link_to a.title, advert_path(a) %></td>
      <td><%=a.user.name%></td>
      <td><%=a.price%></td>
      <td><%=a.updated_at.strftime("%Y-%m-%d %H:%M")%></td>
    </tr>
<% end %>
  </tbody>
</table>
<% end %>

</div>
