<% provide(:title, 'New Advert') %>

<div class="row">
  <div class="span4 offset4">
    <%= form_for(@advert) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title, placeholder: "Enter advert title here..." %>

      <%= f.label :body %>
      <%= f.text_area :body, :size => "60x6", placeholder: "Enter advert body here..." %>

      <%= f.label :price %>
      <%= f.text_field :price, :size => "20", placeholder: "Enter advert price here..." %>

      <%= f.submit "Create advert", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

