<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  <body>
    <%= render 'layouts/header' %>

    <div class="container">
<!--
      <div class="row">
        <div class="span4">
          <%= link_to image_tag('logo.gif'), root_path %>
        </div>
        <div class="offset4 span3 well">
          <ul>
            <li>dfasldfjlasdf</p>
            <li>dfasldfjlasdf</p>
            <li>dfasldfjlasdf</p>
            <li>dfasldfjlasdf</p>
          </ul>
        </div>
      </div>
-->
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>

      <%= yield %>

      <%= debug(params) if Rails.env.development? %>
    </div> <!-- /container -->
  </body>
</html>
